
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    


     .cart-product-quantity {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 130px;
        max-width: 100%;
        border: 0.5px solid rgb(177, 177, 177);
        border-radius: 5px;
      }
      .cart-product-quantity button {
        border: none;
        outline: none;
        background: none;
        padding: 0.7rem 1.5rem;
        cursor: pointer;
      }
      .card-registration.cart-product-quantity .count {
        padding: 0.7rem 0;
      }
      .cart-product-quantity .count {
        padding: 0.7rem 0;
      }

      .col-lg-4.bg-grey {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .card_body {
        display: flex;
    }