.row.justify-content-md-center.post-thumb {
    flex-wrap: nowrap;
}

img.img-fluid.product-img {
    height: 178px;
    width: 268px;
}

.blog-ntl {
    width: 25%;
    box-sizing: border-box;
}
input.search-product {
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}